<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会员注册页</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var wweya_li =$("div.tab_menu ul li");
            wweya_li.click(function(){
                $(this).addClass("selected")
                    .siblings().removeClass("selected");
                var index =  wweya_li.index(this);
                $("div.tab_box > div")
                    .eq(index).show(100)
                    .siblings().hide();
            }).hover(function(){
                $(this).addClass("hover");
            },function(){
                $(this).removeClass("hover");
            });
        });
        //判断是否为空
       /* function b(){
            if($("#userName").val()==""||$("#password").val()==""||$("#checkPassword").val()==""||$("#linkTel").val()==""
                ||$("#name").val()==""||$("#icCode").val()==""||$("#checkbox").val()!="ok"){
                alert("请填写必填字段");
            }
        }*/
    </script>
</head>
<body>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hr">
            <a th:if="${session.userName==null}" th:href="@{/register}">会员注册</a>  |  <span th:if="${session.userName!=null}" th:text="'欢迎你，'+${session.userName}"></span>
            <a th:if="${session.userName==null}" th:href="@{/goLogin}">登录</a>  |  <a th:if="${session.userName!=null}" th:href="@{/goLogout}">退出</a></div>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <img src="images/logo.png"/>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a th:href="@{/index}">首页</a></li>
        <li><a th:href="@{/travelRoute}">旅游路线</a></li>
        <li><a th:href="@{/travelSpot}">旅游景点</a></li>
        <li><a th:href="@{/hotelAccommodation}">餐饮住宿</a></li>
        <li ><a th:href="@{/car}">旅游车票</a></li>
        <li ><a th:href="@{/insurance}">旅游保险</a></li>
        <li ><a th:href="@{/strategy}">旅游攻略</a></li>
        <li ><a th:href="@{/attention}">注意事项</a></li>
        <li class="cur" th:if="${session.userName!=null}"><a th:href="@{/userCenter}">会员中心</a></li>
    </ul>
</div>
    <div class="b_wrap">
        <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a>  >> <a th:href="@{/register}">会员注册</a></div>
        <div class="regin_w clearfix">
            <div class="regin_con">
                <div class="regin">
                    <div class="tab_menu regin_menu">
                        <ul class="regin_ul">
                            <li class="selected">注册</li>
                        </ul>
                    </div>
                    <div class="tab_box">
                        <div class="regin_tw">
                            <form class="layui-form" method="post" action="/registering">
                                <table width="650" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="62">用户名：</td>
                                        <td width="588"><input class="rg_in" type="text" id="userName" name="userName" value="" placeholder="请输入用户名" required/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td>登录密码：</td>
                                        <td><input class="rg_in" type="password" id="password" name="password" value="" placeholder="请输入密码" required/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td>确认密码：</td>
                                        <td><input class="rg_in" type="password" id="checkPassword" name="checkPassword" value="" placeholder="请输入确认密码" required/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">联系方式：</td>
                                        <td width="588"><input class="rg_in" type="text" id="linkTel" name="linkTel" value="" placeholder="请输入联系方式" required/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">真实姓名：</td>
                                        <td width="588"><input class="rg_in" type="text" id="name" name="name" value="" placeholder="请输入真实姓名" required/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">身份证号：</td>
                                        <td width="588"><input class="rg_in" type="text" id="icCode" name="icCode" value="" placeholder="请输入身份证号码" required/>
                                            <font color="red">*必填字段</font> </td>
                                    </tr>
                                    <tr>
                                        <td width="62">所在地：</td>
                                        <td width="588">
                                            <select id="province" name="province" required>
                                                <option value="1">北京</option>
                                                <option value="2">天津</option>
                                                <option value="3">上海</option>
                                                <option value="4">重庆</option>
                                                <option value="5">河北</option>
                                                <option value="6">河南</option>
                                                <option value="7">云南</option>
                                                <option value="8">辽宁</option>
                                                <option value="9">黑龙江</option>
                                                <option value="10">湖南</option>
                                                <option value="11">安徽</option>
                                                <option value="12">山东</option>
                                                <option value="13">新疆</option>
                                                <option value="14">江苏</option>
                                                <option value="15">浙江</option>
                                                <option value="16">江西</option>
                                                <option value="17">湖北</option>
                                                <option value="18">广西</option>
                                                <option value="19">甘肃</option>
                                                <option value="20">山西</option>
                                                <option value="21">内蒙古</option>
                                                <option value="22">陕西</option>
                                                <option value="23">吉林</option>
                                                <option value="24">福建</option>
                                                <option value="25">贵州</option>
                                                <option value="26">广东</option>
                                                <option value="27">青海</option>
                                                <option value="28">西藏</option>
                                                <option value="29">四川</option>
                                                <option value="30">宁夏</option>
                                                <option value="31">海南</option>
                                                <option value="32">台湾</option>
                                                <option value="33">香港</option>
                                                <option value="34">澳门</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><button style="width: 100px;height: 40px;text-align: center;line-height:40px;border-radius:5px;background: #009688;" type="submit" >点击注册</button></td>
                                    </tr>
                                    <tr th:if="${message!=null}">
                                        <td>&nbsp;</td>
                                        <td th:text="${message}"></td>
                                    </tr>
                                </table>
                            </form>

                        </div>
                        <div class="hide regin_tw">dhgjfd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
